<h1>APP PRUEBAS</h1>
<div>
  <div class="parent-component">
    <div id="requisitos" class="requisitos">
      <div class="requisito">
        <label for="nombre">Alimento:</label>
        <input type="text" id="nombre" name="nombre" autocomplete="off" (keyup)="inputFruta($event)">
      </div>
    </div>
    <div class="tabla-container-pequeño">
      <table>
        <thead>
          <tr>
            <th>Alimento</th>
            <th>Cantidad</th>
            <th (click)="filtrarMacros('carbos', $event)">Carbohidratos <span
                [ngClass]="{'uil-arrows-v': isDescendenteCarb === null, 'uil-arrow-up': isDescendenteCarb === true, 'uil-arrow-down': isDescendenteCarb === false}"></span>
            </th>
            <th (click)="filtrarMacros('prote', $event)">Proteina <span
                [ngClass]="{'uil-arrows-v': isDescendenteProt === null, 'uil-arrow-up': isDescendenteProt === true, 'uil-arrow-down': isDescendenteProt === false}"></span>
            </th>
            <th (click)="filtrarMacros('grasa', $event)">Grasas <span
                [ngClass]="{'uil-arrows-v': isDescendenteGras === null, 'uil-arrow-up': isDescendenteGras === true, 'uil-arrow-down': isDescendenteGras === false}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (alimento of listaFiltro; track $index) {
          <tr (click)="clickFilaAlimento($event, alimento)" class="filaSelec">
            <td>{{alimento.nombre}}</td>
            <td>{{alimento.cantidad}}</td>
            <td style="background-color: rgba(255, 246, 119, 0.438);">{{alimento.carbos}}</td>
            <td style="background-color: rgba(255, 119, 119, 0.452);">{{alimento.prote}}</td>
            <td style="background-color: rgba(124, 255, 119, 0.479);">{{alimento.grasas}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div>
      <h3>Requisitos de la comida</h3>
      <div>
        <label for="carboReq">Carbohidratos: </label>
        <input type="number" name="carboReq" id="carboReq" (change)="actualizarReq($event, 'carbos')" (keyup)="actualizarReq($event, 'carbos')">
        <label for="proteReq">Proteinas: </label>
        <input type="number" name="proteReq" id="proteReq" (change)="actualizarReq($event, 'prote')" (keyup)="actualizarReq($event, 'prote')">
        <label for="grasaReq">Grasas: </label>
        <input type="number" name="grasaReq" id="grasaReq" (change)="actualizarReq($event, 'grasas')" (keyup)="actualizarReq($event, 'grasas')">
      </div>
    </div>
  </div>
</div>